<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/packages">Destination<span class="text-danger">Delight</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
               
                <li class="nav-item"><a class="nav-link" href="/packages">Home</a></li>

                <% if (user && user.isAdmin) { %>
                    <li class="nav-item"><a class="nav-link" href="/add-hotel">Add Hotel</a></li>
                    <li class="nav-item"><a class="nav-link" href="/packages/new">Add Package</a></li>
                <% } %>

                <li class="nav-item"><a class="nav-link" href="/package/custom-packages">Custom Packages</a></li>

                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">
                            <img src="<%= user.profilePic%>" alt="Profile" class="rounded-circle" width="35" height="35">
                        </a>
                    </li>
                    <li class="nav-item"><a class="btn btn-danger" href="/logout">Logout</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="btn btn-danger" href="/auth/google">Sign in</a></li>
                    
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>