

    .explore-btn {
        height:45px;
        width: 130px;
        font-family: 'Poppins', sans-serif;
        display: inline-flex;
        align-items: center;
        padding: 8px 16px;
        border: 2px solid black;
        border-radius: 20px;
        background: transparent;
        font-size: 20px;
        font-weight: 500;
        color: black;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
    }

    .explore-btn:hover {
        background: black;
        color: white;
    }

    .explore-btn .arrow {
        margin-left: 8px;
        transition: transform 0.3s ease;
        font-weight: 600;
    }

    .explore-btn:hover .arrow {
        transform: translateX(3px);
    }